header {
  background-color: #ffe500;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: center;
  font-size: 3em;
  margin: 0;
}

nav {
  background-color: #ffe500;
  display: block;
  text-align: center;
  padding: 1px;
}

a {
  background-color: #b2a212;
  font-family: Georgia, serif;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  border-radius: 3.5px;
  color: #fff;
  font-size: 1.1rem;
}

li {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

body {
  margin: 0;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: left;
  font-size: 1.8rem;
  margin-left: 4px;
  line-height: 1.6;
}
